.button,
.hero-head,
.card-header {
  background-image: linear-gradient(
    to right bottom,
    #8825d1,
    #8531d4,
    #813bd7,
    #7e43d9,
    #7b4bdb,
    #7e4edd,
    #8050de,
    #8353e0,
    #8b52e1,
    #9450e2,
    #9c4fe3,
    #a44de3
  );
}

.navbar-menu a:hover {
  color: linear-gradient(
    to right bottom,
    #8825d1,
    #8531d4,
    #813bd7,
    #7e43d9,
    #7b4bdb,
    #7e4edd,
    #8050de,
    #8353e0,
    #8b52e1,
    #9450e2,
    #9c4fe3,
    #a44de3
  );
}
.navbar-menu a {
  color: white;
}

#maincard {
  background-image: linear-gradient(
    to right bottom,
    #1a1c20,
    #1e2024,
    #232529,
    #27292d,
    #2c2e32
  );
}

@media screen and (max-width: 750px) {
  .button,
  .card-header-title,
  .navbar-brand {
    float: none;
    display: flex;
    justify-content: center;
  }
}

.navbar-menu .navbar-item {
  padding: 0 1rem;
}
aside.menu {
  padding-top: 3rem;
}
aside.menu .menu-list {
  line-height: 1.5;
}
aside.menu .menu-label {
  padding-left: 10px;
  font-weight: 700;
}

.menu-list li {
  padding: 5px;
}
